:root {
  /* colors */
  --bg-color-primary: #0A0A0A;
  --bg-color-secondary: #666666;
  --type-color-primary: #FFFFFF;
  --type-color-secondary: #999999;
  --accent-color-primary: deeppink;
  --accent-color-secondary: #1491FF;
  --accent-color-secondary-hover: #47A9FF;
  /* type */
  --typeface-family-primary: Helvetica, sans-serif;
  --typeface-family-secondary: 'Courier New', Courier, monospace;
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font-family: var(--typeface-family-primary);
}

button {
  margin: 0;
}

body {
  background-color: var(--bg-color-primary);
  color: var(--type-color-primary);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  margin: 0;
}


h1 {
  font-size: 4rem;
  font-weight: 800;
  margin: 2rem 0 0;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-width: max-content;
}

footer {
  color: var(--type-color-secondary);
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  gap: 0.5rem;
  min-width: max-content;
}

a {
  padding: 0.0625rem 0.125rem;
  color: var(--accent-color-secondary);
  border-radius: 0.25rem;
  border: solid 2px var(--bg-color-primary);
}

a:visited {
  color: var(--accent-color-secondary);
}

a:hover, a:active {
  color: var(--accent-color-secondary-hover);
}

a:focus {
  color: var(--accent-color-secondary-hover);
  border: solid 2px var(--accent-color-secondary-hover);
  text-decoration: none;
  outline: none;
}

.primary-accent-color {
  color: var(--accent-color-primary);
}

::selection {
  background: var(--accent-color-secondary); /* WebKit/Blink Browsers */
  color: var(--bg-color-primary);
}
::-moz-selection {
  background: var(--accent-color-secondary); /* Gecko Browsers */
  color: var(--bg-color-primary);
}

.count-type-controls {
  align-items: center;
  border-radius: 0.25rem;
  display: inline-grid;
  gap: 0.125rem;
  grid-template-columns: repeat(2,1fr);
  height: 2.5rem;
  border: solid 2px var(--bg-color-secondary);
  padding: 0 0.125rem;
}

.count-type-control__button {
  background: var(--bg-color-primary);
  border-radius: 0;
  border: none;
  color: var(--type-color-secondary);
  cursor: pointer;
  font-family: var(--typeface-family-primary);
  font-size: 1rem;
  height: 2rem;
  transition: border 300ms ease, color 300ms ease;
  position: relative;
  border: 2px solid var(--bg-color-primary);
}

.count-type-control__button[aria-pressed="true"] {
  background: #333;
  color: var(--type-color-primary);
  border-color: #333;
}

.count-type-control__button:first-of-type {
  border-radius: 0.0625rem 0 0 0.0625rem;
}

.count-type-control__button:last-of-type {
  border-radius: 0 0.0625rem 0.0625rem 0;
}

.count-type-control__button:focus {
  outline: none;
  color: var(--type-color-primary);
  border-color: var(--accent-color-primary);
}

.word-count-range {
  display: flex;
  flex: 1;
  gap: 0.5rem;
  align-items: flex-end;
  flex-wrap: no-wrap;
}

.word-count-field {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.5rem;
}

.word-count-range__input {
  flex: 1;
  min-height: 2.5rem;
}

.word-count-input {
  background-color: var(--bg-color-primary);
  border-radius: 0.25rem;
  border: solid 2px var(--bg-color-secondary);
  color: var(--type-color-primary);
  font-family: var(--typeface-family-primary);
  font-size: 1.125rem;
  line-height: 1.625rem;
  margin: 0;
  padding: 0.25rem;
  transition: border 300ms ease;
}

.word-count-label {
  color: var(--type-color-secondary);
  font-size: 0.875rem;
  font-weight: 600;
}

.word-count-input:focus {
  border: solid 2px var(--accent-color-primary);
  outline: none;
}

.word-count-input::placeholder {
  color: #666666;
}

.word-count__input {
  font-family: var(--typeface-family-primary);
  font-size: 1.125rem;
  line-height: 1.625rem;
  background-color: var(--bg-color-primary);
  border-radius: 0.25rem;
  color: var(--type-color-primary);
  border: solid 2px var(--bg-color-primary);
  transition: border 300ms ease;
  resize: none;
  padding: 0.5rem;
}

.current-word-count__input {
  resize: none;
}

.word-count__input:focus {
  border: solid 2px var(--accent-color-primary);
}

.word-count__help-text {
  color: var(--type-color-secondary);
  display: flex;
  font-family: var(--typeface-family-secondary);
  font-weight: 800;
  font-size: 1rem;
  justify-content: space-between;
  margin: 0;
}

.email-draft {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.email-draft-submit {
  background-color: var(--bg-color-primary);
  border-radius: 0.25rem;
  border: solid 2px var(--accent-color-secondary);
  color: var(--accent-color-secondary);
  font-family: var(--typeface-family-primary);
  font-size: 1.125rem;
  line-height: 1.625rem;
  min-height: 2.5rem;
  padding: 0.25rem 1.5rem;
  transition: border 300ms ease, color 300ms ease;
}

.email-draft-submit:focus, .email-draft-submit:hover {
  border: solid 2px var(--accent-color-secondary-hover);
  color: var(--accent-color-secondary-hover);
  outline: none;
}

@media (min-width: 48rem) {
  header, main, footer {
    margin: 0 auto;
    width: 48rem;
  }
  .email-draft-submit {
    align-self: flex-end;
  }
}