:root {
  /* colors */
  --bg-color-primary: #0A0A0A;
  --bg-color-secondary: #333333;
  --type-color-primary: #FFFFFF;
  --type-color-secondary: #AAAAAA;
  --accent-color-primary: deeppink;
  --accent-color-secondary: #1491FF;
  /* type */
  --typeface-family-primary: Helvetica, sans-serif;
  --typeface-family-secondary: 'Courier New', Courier, monospace;
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font-family: var(--typeface-family-primary);
}

body {
  background-color: var(--bg-color-primary);
  color: var(--type-color-primary);
  padding: 1rem;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  max-width: 48rem;
}

h1 {
  font-size: 4rem;
  margin: 2rem 0 0;
}

.primary-accent-color {
  color: var(--accent-color-primary);
}

::selection {
  background: var(--accent-color-secondary); /* WebKit/Blink Browsers */
  color: var(--bg-color-primary);
}
::-moz-selection {
  background: var(--accent-color-secondary); /* Gecko Browsers */
  color: var(--bg-color-primary);
}


.word-count-range {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 1rem;
}

.word-count-field {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
}

.word-count-range__input {
  flex: 1;
}

.word-count-input {
  font-family: var(--typeface-family-primary);
  font-size: 1.125rem;
  line-height: 1.625rem;
  background-color: var(--bg-color-primary);
  border-radius: 0.25rem;
  border: none;
  color: var(--type-color-primary);
  outline: solid 2px var(--bg-color-secondary);
  transition: outline 300ms ease;
  padding: 0.5rem;
  appearance: none;
}

.word-count-label {
  color: var(--type-color-secondary);
  font-size: 0.875rem;
  font-weight: 600;
}

.word-count-input:focus {
  outline: solid 2px var(--accent-color-primary);
}

.word-count__input {
  font-family: var(--typeface-family-primary);
  font-size: 1.125rem;
  line-height: 1.625rem;
  background-color: var(--bg-color-primary);
  border-radius: 0.25rem;
  border: none;
  color: var(--type-color-primary);
  outline: solid 2px var(--bg-color-primary);
  transition: outline 300ms ease;
  resize: none;
  padding: 0.5rem;
}

.current-word-count__input {
  resize: none;
}

.word-count__input:focus {
  outline: solid 2px var(--accent-color-primary);
}

.word-count__help-text {
  color: var(--type-color-secondary);
  display: flex;
  font-family: var(--typeface-family-secondary);
  font-weight: 800;
  font-size: 1rem;
  justify-content: space-between;
  margin: 0;
}